<div class="page">
    <div class="img-size">
      <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l">
       <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <h3 class="design-h3 ml-736">CREATIVE DESIGNING</h3>
    <div class="div-size">
       <h1 class="design-h1">Our Creative for the Creative</h1>
       <h1 class="design-h1 ml-275">World</h1>
    </div>
    <div class="d-div">
      <div class="d-flex">
        <% @designings.each do |design|%>
          <div class="d-img mr-20">
              <% if design.images.attached?%>
                <%= image_tag design.images.first, class: "d-img"%>
              <%else%>
                <p>No image available</p>  
              <%end%>          
                <h5 class="title"><%= design.title %></h3>
                <p class="des"><%= design.description %></p>     
          </div>
          <% end %>  
      </div>
    </div>
</div>