<div class="page">
    <div class="img-size">
      <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l">
      <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <h3 class="design-h3 ml-747">WEB DEVELOPMENT</h3>
    <div class="div-size-d">
       <h1 class="deve-h1 ml-40">Actionable insights </h1>
       <h1 class="deve-h1"> Reai-world experience </h1>
    </div>
    <div class="d-div">
      <div class="d-flex">
        <div class="d-img">
            <img src="assets/DSC_0341 (2).JPG", class="d-img">
            <h5 class="title">Where Passion and Purpose Collide</h5>
            <p class="des">
            Lorem Ipsum is simply dummy text of the printing
            and types etting in our company here thisn
            designers give me more design here <span class="green">[Read more]</span></p>
        </div>

        <div class="d-img ml-20">
            <img src="assets/DSC_0341 (2).JPG", class="d-img">
            <h5 class="title">Where Passion and Purpose Collide</h5>
            <p class="des">
            Lorem Ipsum is simply dummy text of the printing
            and types etting in our company here thisn
            designers give me more design here <span class="green">[Read more]</span></p>
        </div>

        <div class="d-img ml-20">
            <img src="assets/DSC_0341 (2).JPG", class="d-img">
            <h5 class="title">Where Passion and Purpose Collide</h5>
            <p class="des">
            Lorem Ipsum is simply dummy text of the printing
            and types etting in our company here thisn
            designers give me more design here <span class="green">[Read more]</span></p>
        </div>
      </div>
    </div>
</div>