<div class="page">
    <div class="img-size">
      <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l">
      <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <h3 class="design-h3 ml-747">WEB DEVELOPMENT</h3>
    <div class="div-size-d">
       <h1 class="deve-h1 ml-40">Actionable insights </h1>
       <h1 class="deve-h1"> Reai-world experience </h1>
    </div>
</div>