<div class="page">
    <div class="img-size">
       <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l">
       <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <h3 class="design-h3 ml-710">CONTENT MARKETING</h3>
    <div class="div-size-m">
       <h1 class="deve-h1 ">Weaving Magic into </h1>
       <h1 class="deve-h1 ml-40"> Your Business </h1>
    </div>
    <div class="d-flex div-size-mar">
        <div class="gency">
            <h6 class="gency-t">Creative Agency</h6 >
            <hr class="gency-hr">
            <h4 class="gency-h4">Framer Designer & Developer</h4>
            <h6 class="gency-present">2024-Present</h6 >
            <p class="gency-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut<br>
            odit aut fugit sed thisnquia consequuntur magni dolores eos qui<br>
            ratione voluptatem sequi nesciunt</p>
            <p class="gency-r">Read more</p>
            <hr>
            <div class="prog">
               <div class="prog-clr">
               </div>
            </div >
        </div >
        <div class="gency ml-50">
            <div class="gency">
            <h6 class="gency-t">Creative Agency</h6 >
            <hr class="gency-hr">
            <h4 class="gency-h4">Framer Designer & Developer</h4>
            <h6 class="gency-present">2024-Present</h6 >
            <p class="gency-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut<br>
            odit aut fugit sed thisnquia consequuntur magni dolores eos qui<br>
            ratione voluptatem sequi nesciunt</p>
            <p class="gency-r">Read more</p>
            <div class="prog">
            <div class="prog-clr">
            </div>
            </div >
    </div >
        </div>
    </div>
</div>