<div class="side">
    <h1 class="s">S.</h1>
    <ul>
        <a href="/">
            
            <li class="side_btn mt-90">
                <span>HOME</span>
            </li>
        </a> 
        <a href="/designing">
            <li class="side_btn mt-30 ">
                <span>DESIGNING</span>
            </li>
        </a> 
        <a href="/development">
            <li class="side_btn mt-30 ">
                <span>DEVELOPMENT</span>
            </li>
        </a> 
        <a href="/mobile">
            <li class="side_btn mt-30 ">
                <span>MOBILE</span>
            </li>
        </a> 
        <a href="/marketing">
            <li class="side_btn mt-30 ">
                <span>MARKETING</span>
            </li>
        </a> 
        <a href="contact">
            <li class="side_btn mt-30 ">
                <span>CONTACT</span>
            </li>
        </a> 
    </ul>
</div>