<div class="content">
    <div class="img-size">
      <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l">
       <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <div class="heading">
      <% if request.original_fullpath == '/categories?type=designing'%>
        <h3 class="design-h3 ml-736">CREATIVE DESIGNING</h3>
        <div class="div-size">
          <h1 class="design-h1">Our Creative for the Creative</h1>
          <h1 class="deve-h1-w ml-275">World</h1>
        </div>
      <% elsif  request.original_fullpath == '/categories?type=web_development'%>  
        <h3 class="design-h3 ml-747">WEB DEVELOPMENT</h3>
        <div class="div-size-d">
          <h1 class="deve-h12 ml-40">Actionable insights </h1>
          <h1 class="deve-h1-r"> Real-world experience </h1>
        </div>
      <%elsif request.original_fullpath == '/categories?type=mobile'%>
        <h3 class="design-h3 ml-732">MOBILE DEVELOPMENT</h3>
        <div class="div-size-d">
          <h1 class="deve-h12 ">Transforming Ideas Into </h1>
          <h1 class="deve-h1-r ml"> Digital Experiences</h1>
        </div>
      <% end %>  
    <div>
    <div class="d-div">
      <div class="img-card">
          <% @projects.each do |project|%>
            <div class="d-img mr-20 mb-200 box1">
                <% if project.images.attached?%>
                  <%= image_tag project.images.first, class: "d-img"%>
                <%else%>
                  <p>No image available</p>  
                <%end%>  
                  <h5 class="title"><%= project.title %></h3>
                  <p class="des"><% description_words = project.description.split(' ') %>
                      <% truncated_description = description_words.take(15).join(' ') %>
                      <%= truncated_description %>
                  </p> 
                  <span><%= link_to '[Read more]', project_path(project.id), data: { turbo_frame: 'modal' }, class: "green"%><span>
            </div>  
          <% end %>    
      </div>
    </div>
      
</div>