<div class="content">
    <div class="img-size">
      <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l">
      <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <h1 class="contact-h1">Contact Us.</h1>
    <div class=" form1 mt-100">
      <div class="d-flex">
        <input type="text" placeholder="Your Name Here" class="input-1">
        <input type="text" placeholder="Subject" class="input-1 ml-24">    
      </div>
      <div>
        <input type="text" placeholder="Email" class="input-2 mt-20">    
      </div>
      <div class=" mt-20">
        <input type="text" placeholder="Subject" class="text-area">    
      </div>
      <button class="button">Submit</button>
      
    </div>
</div>  
