<div class="content">

    <div class="img-size">
       <img src="assets/noun-hexagon-3398768 1.png">
    </div>
    <div class="m-l ">
       <img src="assets/noun-hexagon-3398768 2.png">
    </div>
    <div class="home-main-div">
    <div class="dash-p">
        <p> Professionals focused on helping your brand</p>
        <p class="m-lt-147">grow and move forward</p>
    </div>
    <div >
        <h1 class="dash-h1"> DESIGNING A BETTER <br>WORLD <span class="today">TODAY<span></h1>
    </div>
    <div class="dash-p1">
        <p>I m a passionate UI/UX designer with a mission to create delightful and<br>
        intuitive digital experiences. With a strong foundation in design principles and<br>
        a keen eye for detail, I specialize in translating complex ideas into user-<br>
        friendly interfaces that captivate and engage.</p>   
    </div>
    <button class="dash-btn "> Get Started <i class="fa-solid fa-arrow-right arrow"></i></i></button>
    </div>

</div>