<%= turbo_frame_tag "modal" do %>
    <div class="modal fade" tabindex="-1" data-controller="modals">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
        <div class=" m-bg ">
        <button type="button" class="btn-close close-r btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body m-bg" id="remote_modal_body" >
            <%= yield %>
            <%= render 'shared/tem'%>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>