
.nav{
    width: 100%;
    height: 6%;
    background-color: #1A1A1A;
}
.nav-ul{
    justify-content: center !important;
    align-items: center !important;
}
.nav-ul-li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
.nav-ul-li-a{
    position: relative;
    color: #A2A2A2;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-ul-li-a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
.nav-ul-li-a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.sidebar{
    width: 14%;
    height: 100%;
    background: #1A1A1A;
    position: fixed;
}

.s{
    color: #FFFFFF;
    font-weight: 700px;
    size: 50px;
    margin-left: 70px;
    margin-top: 50px;
}
.arrow {
    font-size: 16px;
    margin-left: 5px;
}
.content{
    margin-left: 14%;
    height: auto;
    width: 86%;
    background: #000000;
    position: absolute;
    overflow-y: scroll;
    padding-bottom: 9.8%;
}
.heading{
    width: 100%;
}
.content::-webkit-scrollbar {
    display: none;
  }
.side-btn{
    border-radius: 5px;
    border: 1px solid #FFFFFF1A;
    width: 200px;
    height: 62px;
    color: #A2A2A2; 
    background-color: #1A1A1A;      
}
.btn-text{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;   
}
.sidebar-icon{
    background-color: #000000;
    width: 60px;
    height: 60px;
    margin: 0.5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icon-active{
    color: #000000 ;
}
.sidebar-icon-active{
    background-color: #2D9352;
}
.sidebar-icon-active svg{
    color: #000000;
}
.icon-size{
    width: 30px;
    height: 24px;
    color: #FFFFFF;   
}
.u-l-r{
    text-decoration: none;
}
.mt-30{
    margin-top: 30px;
}
.mt-90{
    margin-top: 90px;
}
.mb-200{
    margin-bottom: 200px;
}
.m-l{
    text-align: end;
    margin-top: -360px;
}
.m-lt-147{
    margin-left: 147px;
}
.img-size{
    margin-top: 77px;
    margin-left: 121px;
}
.img-size1{
    width: 647px;
    height: 641px;
}
.img-card{
    display: flex;
    flex-wrap: wrap;   
}
.box1{
    flex-basis: calc(30% );
}
.home-main-div{
    margin-left: 187px;
}
.dash-p{
    margin-top: -450px;
    font-weight: 500px;
    font-size: 16px;
    color: #505050;
    margin-left: 413px;
}
.dash-h1{
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 40.63px;
}
.today{
    color: #2D9352;
    font-weight: 275;
    font-size: 60px;
}
.dash-p1{
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    color: #A2A2A2;
}
.dash-btn{
    width: 209px;
    height: 66px;
    border-radius: 80px;
    margin-top: 67px;
    background-color: #2D9352;
    border: none;
}
.design-h3{
   color: #2D9352;
   font-weight: 500;
   font-size: 20px;
   margin-top: -550px;
   letter-spacing: 1.4px;
}
.design-h1{
   font-weight: 600;
   font-size: 50px;
   color: #FFFFFF;
}
.deve-h12{
    font-weight: 600;
   font-size: 50px;
   color: #FFFFFF;
}
.deve-h1-r{
    font-weight: 600;
   font-size: 50px;
   color: #FFFFFF;
}
.deve-h1{
    font-weight: 600;
   font-size: 50px;
   color: #FFFFFF;
}
.deve-h1-w{
    font-weight: 600;
   font-size: 50px;
   color: #FFFFFF;
}
.deve-h11{
    font-weight: 600;
   font-size: 50px;
   color: #FFFFFF;
}
.div-size{
    width: 728px;
    height: 130px;
    margin-left: 487px;
    margin-top: 35px;
}
.div-size-d{
    width: 576px;
    height: 130px;
    margin-left: 547px;
    margin-top: 35px;
}
.div-size-m{
    width: 518px;
    height: 130px;
    margin-left: 576px;
    margin-top: 35px;
}
.div-size-mar{
    width: 1216px;
    height: 377px;
    margin-left: 227px;
    margin-top: 80px;
    gap: 20px;
}
.ml-40{
    margin-left: 40px;
}
.ml-275{
    margin-left: 275px;
}
.ml{
    margin-left: 60px;
}
.ml-736{
    margin-left: 736px;
}
.ml-747{
    margin-left: 747px;
}
.ml-732{
    margin-left: 732px;
}
.ml-710{
    margin-left: 710px;
}
.ml-50{
    margin-left: 50px;
}
.form1{
    margin-left: 187px;
}
.gency{
    width: 583px;
    height: 377px;
    border-radius: 5px;
    border: 1px solid #303030;
    background-color: #000000;
}
.gency-t{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 41px;
    margin-left: 43px;
}
.gency-hr{
    width: 163px;
    margin-left: 43px;
    border: 1.5px solid #2D9352;
}
.gency-h4{
    font-weight: 600;
    font-size: 20px;
    margin-left: 43px;
    margin-top: 20px;
    color: #FFFFFF;
}
.gency-present{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 43px;
    margin-top: 6px;
}
.gency-p{
    font-weight: 500;
    font-size: 16px;
    color: #A2A2A2;
    margin-left: 43px;
    margin-top: 25px;
}
.gency-r{
    font-weight: 500;
    font-size: 16px;
    color: #2D9352;
    margin-top: 28px;
    margin-left: 43px;
}

.prog{
    width: 524px;
    height: 6px;
    background-color: #303030;
    margin-left: 43px;
}
.prog-clr{
    width: 75%;
    height: 5px;
    background-color: #2D9352;
}
.contact-h1{
    font-weight: 600;
    font-size: 50px;
    color: #FFFFFF;
    margin-left: 688px;
    margin-top: -500px;
}
.ml-187{
    margin-left: 187px;
}
.input-1{
    width: 636px;
    height: 60px;
    border: 1px solid #303030;
    background-color: #000000;
    color: #A2A2A2;
    font-weight: 300;
    font-size: 16px;
    
}
.mt-100{
    margin-top: 100px;
}
.ml-24{
    margin-left: 24px;
}
.ml-17{
    margin-left: 17px;
}
.input-2{
    width: 1296px;
    height: 60px;
    border: 1px solid #303030;
    background-color: #000000;
    font-weight: 300;
    font-size: 16px;
    color: #A2A2A2;
}
.mt-20{
    margin-top: 20px;
}
.mt-24{
    margin-top: 24px;
}
.ml-21{
    margin-left: 21px;
}
.ml-20{
    margin-left: 20px;
}
.text-area{
    width: 1296px;
    height: 156px;
    border: 1px solid #303030;
    background-color: #000000;
    color: #A2A2A2;
}
.button{
    width: 191.7px;
    height: 60px;
    border-radius: 5px;
    background-color: #2D9352;
    margin-top: 80px;
    margin-left: 570px;
}
.img1{
    width: 30px;
    height: 24px;
}
.center{
    text-align: center;
}
.d-div{
    height: 495px;
    width: 85%;
    margin-left: 165px;
    margin-top: 35px;
}
.d-img{
    width: 416px;
    height: 350px;
    border-radius: 5px;
}

.title{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}
.des{
    font-weight: 400;
    font-size: 16px;
    margin-top: 17px;
    color: #A2A2A2;
}
.green{
    color: #2D9352;
}
.green-text{
    color: #2D9352;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}

.modal-img{
    width: 910px;
    height: 729px;
    margin-top: -15px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #303030;
}

.modal-tem{
    width: 494px;
    margin-top: -15px;
    margin-left: 20px;
}
.modal-h{
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    width: 429px;
    height: 90px;
}
.modal-p{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.btn-cls{
    margin-top: 15px;
    text-align: end !important;
}
.m-bg{
    background-color: #303030;
    width: 1496px;
    margin-left: -150px;
}
.close-r{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.side-btn.active {
    background-color: #2D9352;
}

.side-btn.active .btn-text {
    color: #2D9352;
}


/*--------@media Queries--------*/


 @media screen and (max-width: 2560px) and (min-width: 1921px){
    .img-card{
        display: flex;
        flex-wrap: wrap;   
    }
    .nav{
        display: none !important;
    }
    .box1{
        flex-basis: calc(20% );
        margin-right: 35px;
    }
    .design-h3{
        font-weight: 500;
        font-size: 30px;
        margin-left: 960px;
    }
    .design-h1{
        font-weight: 700;
        font-size: 60px;
    }
    .div-size{
        width: 900px;
        height: 150px;
        margin-left: 750px;
    }
    .d-div{
        margin-left: 230px;  
    }   
    .side-btn{
        width: 250px;
        height: 70px;  
        margin-left: 20px;   
    }
    .btn-text{
        
        font-size: 18px;
    } 
    .sidebar-icon{
        width: 70px;
        height: 66px;
        margin-top: 0.5px;
        margin-left: 0.5px;
    }
    .div-size-m{
        width: 718px;
        height: 150px;
        margin-left: 860px;
        margin-top: 35px;
    }
    .deve-h1{
        font-weight: 700;
        font-size: 60px;
    }
    .deve-h11{
        font-weight: 700;
        font-size: 60px;
        margin-left: 80px;
    }
}



@media screen and (max-width: 1920px) and (min-width: 1441px)  {
    .nav{
        display: none !important;
    }
    .content{
        padding-bottom: 20%;
    }
    .design-h3{ 
        margin-left: 700px;
        font-weight: 500;
        font-size: 20px;
    }
    .design-h1{
        font-weight: 600;
        font-size: 50px;
    }
    .div-size{    
        margin-left: 480px;
    }
    .d-div{
        margin-left: 165px;  
    }   
    .side-btn{
        width: 200px;
        height: 62px; 
        margin-left: -2px;   
    }
    .deve-h11{
        margin-left: 70px;
    }

}


@media screen and (max-width: 1440px) and (min-width: 1025px)  {
    .sidebar{
        width: 15%;
    }
    .content{
        width: 85%;
        margin-left: 15%;
    }
    .nav{
        display: none !important;
    }
    .s{
        margin-left: 40px;
    }
    .design-h3{
        margin-left: 480px;
    }
    .div-size{
        margin-left: 250px;
    }
    .side-btn{
        width: 170px;
        height: 62px;  
        margin-left: -15px;   
    }
    .btn-text{
        margin-left: 10px;
        font-size: 13px;
    }
    .icon-size{
        width: 25px;
        height: 20px;  
    }
    .d-div{
        margin-left:65px;  
        width: 94%;
    }
    .d-img{
        width: 350px;
        height: 300px;
    }   
    .img-card{
        display: flex;
        flex-wrap: wrap;   
    }
    .box1{
        flex-basis: calc(30% );
    }   
    .div-size-m{
        margin-left: 400px;
        margin-top: 35px;
    }
    .div-size-d{
        margin-left: 320px;
    }
    .deve-h11{
        margin-left: 70px;
    }
    .div-size-mar{
        width: 1200px;
        height: 377px;
        margin-left: 20px;
        margin-top: 80px;
        gap: 40px;
    }
    .gency{
        width: 570px;
        height: 377px;
        border-radius: 5px;
    }
    .prog{
        width: 480px;
        height: 6px;
        background-color: #303030;
        margin-left: 43px;
    }
    .contact-h1{
        margin-left: 480px;
        
    }
    .form1{
        margin-left: 50px;
    }
    .input-1{
        width: 550px;
    }
    .input-2{
        width: 1124px;
    }
    .text-area{
        width: 1124px;
    }
    .button{
        margin-left: 460px;
    }
    .m-bg{
        width: 1150px;
        margin-left: 0px;
    }
    .modal-img{
        width: 650px;
        height: 550px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
     .sidebar{
        width: 19%;
     }
     .content{
        width: 81%;
        margin-left: 19%;
     }
     .nav{
        display: none !important;
    }
    .side-btn{
        width: 170px;
        height: 55px;
        margin-left: -17px;    
    }
    .sidebar-icon{
        width: 60px;
        height: 53px;  
    }
    .btn-text{
        margin-left: 10px;
        font-size: 11px;
    }
    .design-h3{
       margin-left: 300px;
       font-weight: 400;
       font-size: 20px;
    }
    .design-h1{
        font-weight: 500;
        font-size: 45px;
        margin-left: 15px;
    }
    .deve-h1{
        font-weight: 500;
        font-size: 45px;
        margin-left: 240px;
    }
    .deve-h1-w{
        margin-left: 240px;
    }
    
    .s{
        margin-left: 40px;
    }
    .div-size{
       margin-left: 100px;
    }
    .d-div{
        width: 90%;
        margin-left: 50px;
    }
    .d-img{
        width: 350px;
        height: 300px;
        margin-left: 2px;
    }  
    .img-card{
        display: flex;
        flex-wrap: wrap;   
    }
    .box1{
        flex-basis: calc(35% );
    }  
    .div-size-m{
        margin-left: 165px;
        margin-top: 35px;
    }
    .div-size-d{
        margin-left: 140px;
    }
    .deve-h1{
        margin-left: 40px;
    }
    .deve-h11{
        margin-left: 80px;
    }
    .div-size-mar{
        width: 785px;
        height: 377px;
        margin-left: 20px;
        margin-top: 80px;
        gap: 20px;
    }
    .gency{
        width: 390px;
        height: 450px;
        border-radius: 5px;
    }
    .prog{
        width: 300px;
        height: 6px;
        background-color: #303030;
        margin-left: 43px;
    } 
    .contact-h1{
        margin-left: 280px;
        
    }
    .form1{
        margin-left: 30px;
    }
    .input-1{
        width: 375px;
    }
    .input-2{
        width: 774px;
    }
    .text-area{
        width: 774px;
    }
    .button{
        margin-left: 300px;
    }
    .home-main-div{
        margin-left: 70px;
    }
    .m-bg{
        width: 900px;
        margin-left: -30px;
    }
    .modal-tem{
        width: 300px;   
    }
    .modal-img{
        width: 500px;
        height: 480px;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .sidebar{
       display: none;
    }
    .content{
       width: 142.3%;
       margin-left: 0;
       padding-bottom: 21%;
    }
    .nav{
        width: 142.3%;
        height: 15%;
    }
    
    .nav-ul-li{
        margin: 0 30px;
        line-height: 90px;
    }
    .nav-ul-li-a{
        font-size: 20px;   
    }
   .design-h3{
      margin-left: 410px;
      font-weight: 500;
      font-size: 25px;
   }
   .design-h1{
      font-weight: 600;
      font-size: 45px;
   }
   .deve-h1{
    font-weight: 600;
    font-size: 45px;
    margin-left: 240px;
   }
   .deve-h1-w{
    margin-left: 230px;
   }
   .div-size{
      margin-left: 245px;
   }
   .div-size-d{
    margin-left: 275px;
   }
   .d-div{
       margin-left: 35px;
       width: 96%;
   }
   .d-img{
       width: 500px;
       height: 400px;
       
    }  
    .side-btn{
        width: 165px;
        height: 66px;  
        margin-left: -18px;   
    }
    .btn-text{
        margin-left: 10px;
        font-size: 11px;
    }
    .icon-size{
        width: 25px;
        height: 20px;  
    }
    .div-size-m{
        margin-left: 310px;
        margin-top: 35px;
    }
    .deve-h1{
        margin-left: 40px;
    }
    .deve-h11{
        margin-left: 80px;
    }
    .div-size-mar{
        width: 1070px;
        height: 377px;
        margin-left: 20px;
        margin-top: 80px;
        gap: 30px;
    }
    .gency{
        width: 510px;
        height: 400px;
        border-radius: 5px;
    }
    .prog{
        width: 450px;
        height: 6px;
        background-color: #303030;
        margin-left: 43px;
    } 
    .contact-h1{
        margin-left: 400px;
        
    }
    .form1{
        margin-left: 60px;
    }
    .input-1{
        width: 470px;
    }
    .input-2{
        width: 964px;
    }
    .text-area{
        width: 964px;
    }
    .button{
        margin-left: 380px;
    }
    .m-bg{
        width: 1020px;
        margin-left: -95px;
    }
    .modal-tem{
        width: 300px;   
    }
    .modal-img{
        width: 600px;
        height: 650px;
    }
    
}

@media screen and (max-width: 425px) and (min-width: 376px){
    .sidebar{
        display: none;
    }
    .content{
    width: 204.5%;
    margin-left: 0%;
    padding-bottom: 160%;
    }
    .nav{
    width: 204.5%;
    }
    
    .nav-ul-li{
        margin: 0 18px;
        line-height: 70px;
    }
    .nav-ul-li-a{
        font-size: 18px;   
    }
    .d-img{
        width: 800px;
        height: 600px;
    }  
    .div-size{
        margin-left: 80px;
    }
    .div-size-d{
        margin-left: 170px;
    }
    .design-h3{
        margin-left: 300px;   
    }
    .d-div{
        margin: 35px;
    }
    .design-h3{
        margin-left: 340px;  
     }
     .div-size-m{
        margin-left: 180px;
        margin-top: 35px;
    }
    .deve-h1{
        margin-left: 40px;
    }
    .deve-h11{
        margin-left: 100px;
    }
    .div-size-mar{
        width: 800px;
        height: 377px;
        margin-left: 40px;
        margin-top: 80px;
        gap: 40px;
    }
    .gency{
        width: 378px;
        height: 500px;
        border-radius: 5px;
    }
    .prog{
        width: 300px;
        height: 6px;
        background-color: #303030;
        margin-left: 43px;
    } 
    .contact-h1{
        margin-left: 330px;
        
    }
    .form1{
        margin-left: 60px;
    }
    .input-1{
        width: 363px;
    }
    .input-2{
        width: 750px;
    }
    .text-area{
        width: 750px;
    }
    .button{
        margin-left: 300px;
    }
    .home-main-div{
        margin-left: 70px;
    }
    .m-bg{
        width: 850px;
        margin-left: 0px;
    }
    .modal-tem{
        width: 250px;   
    }
    .modal-img{
        width: 500px;
        height: 600px;
    }
}

@media screen and (max-width: 375px) and (min-width: 0px){
    .sidebar{
        display: none;
     }
    .content{
        width: 260%;
        margin-left: 0%;
        padding-bottom: 285%;
     }
    .nav{
        width: 260%;
    }
    .nav-ul-li{
        margin: 0 20px;
        line-height: 80px;
    }
    .nav-ul-li-a{
        font-size: 20px;
        
    }
     .d-img{
        width: 700px;
        height: 450px;
    }  
    .d-img{
        width: 850px;
        height: 650px;
    }
    .div-size{
        margin-left: 140px;
     }
     .div-size-d{
        margin-left: 200px;
       }
     .d-div{
         margin-left: 62px;
     }
     .design-h3{
        margin-left: 360px;  
     }
     .div-size-m{
        margin-left: 200px;
        margin-top: 35px;
    }
    .deve-h1{
        margin-left: 40px;
    }
    .deve-h11{
        margin-left: 100px;
    }
    .div-size-mar{
        width: 900px;
        height: 377px;
        margin-left: 40px;
        margin-top: 80px;
        gap: 40px;
    }
    .gency{
        width: 450px;
        height: 500px;
        border-radius: 5px;
    }
    .prog{
        width: 350px;
        height: 6px;
        background-color: #303030;
        margin-left: 43px;
    } 
    .contact-h1{
        margin-left: 350px;
        
    }
    .form1{
        margin-left: 60px;
    }
    .input-1{
        width: 410px;
    }
    .input-2{
        width: 845px;
    }
    .text-area{
        width: 845px;
    }
    .button{
        margin-left: 320px;
    }
    .m-bg{
        width: 960px;
        margin-left: 0px;
    }
    .modal-tem{
        width: 350px;   
    }
    .modal-img{
        width: 500px;
        height: 550px;
    }
} 




